<% fields_for "verification[transaction_attr][]", transaction do |t| %>
	<tr class="transaction">
		<td>
			<%= t.select :costcenter_account, Costcenter.find(:all).collect { |c| [ c.name, c.account ] }, { :prompt => 'Select a costcenter' }, { :index => nil } %>
		</td>
		<td style="text-align: center"><%= t.text_field :debit, :class => "inlineInput", :index => nil %></td>
		<td style="text-align: center"><%= t.text_field :credit, :class => "inlineInput", :index => nil %></td>
		<td style="valign: middle">
			<%= link_to_function "Remove", "$(this).up('.transaction').remove()" %>
		</td>
	</tr>
<% end %>